@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
    font-family: 'Inter', sans-serif;
    padding-top: 80px; 
}

/*Nav-bar BEGIN*/
.navbar img {
    height: 54px;
    max-width: relative;
}

.nav-link {
    font-weight: 600;
}

.navbar {    
    .navbar-nav li a {
      &:hover, &:focus, &:active {
        color: #008000;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
/*Nav-bar END*/

/*Intro section BEGIN*/
.carousel-item:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-carousel-item {
  background-image: url(../images/plantation.jpg)
}

#breeders-carousel-item {
  background-image: url(../images/cattle.png)
}

/* Height for devices larger than 576px */
@media (min-width: 920px) {
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active,
  .mask {
    height: 528px;
  }
}

.intro-section h1 {
    padding-top: 5%;
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.intro-section h4 {
    padding-top: 5%;
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.intro-section .btn {
    text-align: end;
    bottom:0;
    right:0;
}
/*Intro section END*/

/* features page begin */
.features h1 {
    padding-bottom: 5%;
  }
  
  .features .card-img-top {
      width: 100%;
      height: 380px;
      object-fit: cover;
  }
  
  .services, .reliability, .goals{
    padding-bottom: 10%;
  }

  .feature {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  
  .feature h2 {
    color: #008000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  /* features page END*/

/* contact form begin */
.contact-form {
    display: flex; /* Add this line */
    justify-content: flex-start; /* Add this line */
  }
  
  .contact-form input[type="text"],
  .contact-form select,
  .contact-form textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  .contact-form input[type="submit"] {
    background-color: grey;
    color: white;
    font-size: large;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.3s;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: darkgray;
    transform: translateY(-10px);
  }
  
  .contact-form .container {
    border-radius: 5px;
    padding: 20px;
    align-items: start;
    margin-left: 0; /* Add this line */
    margin-right: auto; /* Add this line */
  }

@media screen and (min-width: 992px) { /* to add padding on larger screens*/
    .contact-form {
      padding-left: 70px;
    }
  }
  /* contact form END */

  /* Breeders section BEGIN */
  .breeders {
    padding-top: 5%;
  }

  .breeders h2 {
    color: #008000;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .breeders p {
    font-weight: 400;
  }

  .breeders {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.breeders .container {
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;
}

.breeders .container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.breeders .container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.breeders .container .card:hover .content {
	transform: translateY(-50px);
}

.breeders .container .card .content .imgBx {
	position: relative;
	width: 220px;
	height: 220px;
	overflow: hidden;
}

.breeders .container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.breeders .container .card .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.breeders .container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.breeders .container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.breeders .container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.breeders .container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.breeders .container .card .sci li a {
	color: black;
	font-size: 20px;
}

.breeders .sci {
    padding-right: 7%;
}

.breeders .btn {
    background: #008000;
    border: none;
}

.modal-dialog .modal-body h5 {
    color: #008000;
}
  /* Breeders section END*/